/****************************************** Import font******************************/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,vietnamese);
/************************************************************************************/
.container{
    width: 960px;
}
.header-main{
    height: 112px;
    background: url("images/bg-baner-header.png") repeat;
    padding-top: 10px;
}
.menu-header{
    height: 38px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d10487), to(#ae036f));
    background: -webkit-linear-gradient(top, #d10487, #ae036f);
    background: -moz-linear-gradient(top, #d10487, #ae036f);
    background: -ms-linear-gradient(top, #d10487, #ae036f);
    background: -o-linear-gradient(top, #d10487, #ae036f);
    min-width: 960px;
}
.icon-home{
    background: url(images/icon-home.png) no-repeat;
    padding: 5px 13px;
}
a, a:hover, a:active{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
.content-menu-header{
    margin-bottom: 0;
}

.content-menu-header li a{
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
#li-home-menu:hover{
    background: none;
}
#li-home-menu{
    padding-top: 10px;
    padding-left: 0;
}
.content-menu-header li:last-child{
    border-right: none;
}
.content-menu-header li:first-child{
    border: none;
}

.content-menu-header li:nth-child(2){
    border-left: none;
}
.content-menu-header li:hover{
    background: #8aaa23;
}
.content-menu-header li{
    float: left;
    padding: 8px 9px 0 7px;
    border-right: 1px solid #ae0470;
    border-left: 1px solid #d52796;
    height: 38px;
}
.after-menu-header{
    height: 35px;
    background: url("images/bg-after-menu.png") repeat-x;
    min-width: 960px;
}

.wrap-search-header{
    margin-top: 4px;
}
.wrap-search-header .search-submit:hover{
    background-color: #ae036f;
}
.wrap-search-header .search-submit{
    background: url("images/icon-search.png") center center no-repeat #bd0478;
    width: 27px;
    height: 25px;
    border: 1px solid #f7e7f1;
    border-left: none;
}
.wrap-search-header input[type="search"]{
    border: 1px solid #f7e7f1;
    outline: none;
    height: 25px;
    width: 140px;
    padding: 0 10px;
    border-right: none;
    font-size: 12px;
    font-weight: normal;
}
.wrap-popular-new-header{
    padding-top: 8px;
}
.wrap-popular-new-header b{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #b20371;
    font-size: 15px;
    text-transform: uppercase;
}
.wrap-popular-new-header a:hover{
    color: #9dc028;
}
.wrap-popular-new-header a{
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #777777;
}

.main-content{
    margin-top: 20px;
}


#crumbs .delimiter-breadcrumbs{
    background: url(images/bg-delimiter.png) no-repeat;
    padding: 0 9px;
}

#crumbs .delimeter-a{
    background: url(images/bg-delimer-a.png) no-repeat;
    padding: 0 8px;
}
#crumbs a:first-child{
    position: relative;
}
#crumbs a:first-child:before{
    content: "";
    background: url('images/bg-before-a.png') no-repeat;
    top: 29px;
    right: 70px;
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 29px;
}
#crumbs span.current:after{
    content: "";
    background: url(images/bg-scrumb-span-affter.png) no-repeat;
    top: 0px;
    right: -20px;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 29px;

}
#crumbs span{
    background: #f1f1f1;
    color: #747474;
    padding:0 10px;
    position: relative;
}
#crumbs a:hover{
    color: #c2e300;
}
#crumbs a{
    background: #bd0478;
    color: #fff;
    padding:0 10px;
}
#crumbs a, #crumbs span, #crumbs .delimiter-breadcrumbs{
    line-height: 29px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;    
}
.page-breadcrumb{
    margin-left: -10px;
}